rss-56-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="NewsID" type="xs:string"/>

<xs:element name="DeptName" type="xs:string"/>

<xs:element name="FileList">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="File" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="ImageList">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Image" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>