rss-56-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="NewsID" type="xs:string"/>
<xs:element name="DeptName" type="xs:string"/>
<xs:element name="FileList" type="xs:string"/>
<xs:element name="ImageList" type="xs:string"/>

</xs:schema>