rss-56-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="image_link" type="xs:anyURI"/>
<xs:element name="price" type="xs:string"/>
<xs:element name="condition" type="xs:string"/>
<xs:element name="id" type="xs:string"/>

</xs:schema>